---
layout: bootcamp
root: .
venue: Institut Pasteur
address: Centre Fran&ccedilois Jacob, room 28_01_01C
country: France
humandate: Oct 03-04, 2013
humantime: 13:30 - 18:30, 9:00 - 17:30
startdate: 2013-10-03
enddate: 2013-10-04
latlng: 48.84042, 2.31068
registration: restricted
instructor: ["John Blischak", "Diego Barneche"]
contact: jdblischak@uchicago.edu
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Installation</h2>

<p>
  Please follow these <a href="lessons/setup.html">installation instructions</a>.
</p>

<hr/>

<h2>Survey</h2>

<p>
  Please complete the
  <a href="https://docs.google.com/forms/d/15zMF5t9n2RiO4GOwzwkwU5gn3UQdfyt_E5-rNRGunpo/viewform">pre-boot
  camp survey</a>.  It helps us to understand what previous
  programming experince you have. Also, this is a standard survey that
  we use for all boot camps.  Thus, please do not worry that the
  survey contains questions about material we will not cover,
  e.g. SQL.
</p>

<h2>Schedule</h2>
<p class="muted" style="font-style: italic;">Subject to Change</p>
<p>
  One benefit of having a small number of attendees at this boot camp
  is that we can be flexible. The goal of the boot camp is for you to
  learn as much as possible in the two days so that you can start
  incoprorating these new skills into your research. We can move
  slower or faster through the content based on your needs.
</p>
<div class="span4">
  <strong>Day 1</strong>
  <table class="table">
    <tbody>
      <tr>
        <td>13:30 - 14:00</td>
        <td style="text-align: right;">Setup Help and Introduction</td>
      </tr>
      <tr>
        <td>14:00 - 16:30</td>
        <td style="text-align: right;">Introduction to R and RStudio</td>
      </tr>
      <tr>
        <td>16:30 - 16:45</td>
        <td style="text-align: right;">Coffee Break</td>
      </tr>
      <tr>
        <td>16:45 - 18:30</td>
        <td style="text-align: right;">Flow Control with R</td>
      </tr>
    </tbody>
  </table>
  <strong>Day 2</strong>
  <table class="table">
    <tbody>
      <tr>
        <td>09:00 - 10:30</td>
        <td style="text-align: right;">Functions and Packages with R</td>
      </tr>
      <tr>
        <td>10:30 - 10:45</td>
        <td style="text-align: right;">Coffee Break</td>
      </tr>
      <tr>
        <td>10:45 - 12:00</td>
        <td style="text-align: right;">Debugging with R</td>
      </tr>
      <tr>
        <td>12:00 - 13:00</td>
        <td style="text-align: right;">Bash Shell</td>
      </tr>
      <tr>
        <td>13:00 - 14:00</td>
        <td style="text-align: right;">Lunch break</td>
      </tr>
      <tr>
        <td>14:00 - 15:00</td>
        <td style="text-align: right;">Bash Shell, continued</td>
      </tr>
      <tr>
      <tr>
        <td>15:00 - 17:15</td>
        <td style="text-align: right;">Version control with git and GitHub</td>
      </tr>
      <tr>
        <td>17:15 - 17:30</td>
        <td style="text-align: right;">Questions and Wrap Up</td>
      </tr>
    </tbody>
  </table>
</div> <!-- schedule -->

<hr/>
